<div class="container-fluid">


  <div class="block-header" style="margin-bottom: 0px;">
    <div class="row clearfix">
        <div class="col-md-12 col-sm-12">
            <h1>User</h1>
        </div>
    </div>
    <div class="row clearfix header-description">
        <div class="col-md-7 col-sm-12">
        </div>
        <div class="col-md-4 main form-group" id="home_report" style="text-align:right;"> 
        </div>
    </div>
  </div>

  <!-- Show Success / Error / Info Messages If any set by the controller action -->
</div>
